@import "tailwindcss";

:root {
  --color-primary: #E31837;
  --color-primary-dark: #cc1531;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
}

/* Ensure on desktop (lg:) that row 1 is strictly sized to the hero slider without empty gap */
@media (min-width: 1024px) {
  #main-layout-container {
    grid-template-rows: max-content 1fr !important;
  }
}
